.attribution {
    font-size: 11px;
    text-align: center;
    bottom: 5px;
    width: 100%;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
body {
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
}
p {
    font-size: 0.938em;
    font-weight: 400;
}
h1 {
    font-size: 1.25em;
    font-weight: 700;
}
p, h1 {
    font-family: "Outfit";
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.card {
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    border-radius: 20px;
    padding: 15px;
    max-width: 18.125em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
}
